<div class="mayor-menor-container">
  <h1>Juego Mayor o Menor</h1>

  <!-- Mostrar el dorso de la carta antes de iniciar el juego -->
  <div *ngIf="!juegoIniciado">
    <div class="dorso">
      <img [src]="dorsoCarta" alt="Dorso de la carta" />
    </div>
    <button (click)="iniciarJuego()" [disabled]="cargando || !idMazo">
      {{ cargando ? "Cargando..." : "Start" }}
    </button>
  </div>

  <!-- Mostrar la carta actual una vez que el juego haya comenzado -->
  <div *ngIf="juegoIniciado && cartaActual">
    <div class="carta-container">
      <!-- Mostrar la carta anterior a la derecha de la carta actual -->
      <div class="carta-anterior">
        <img
          *ngIf="cartaAnterior"
          [src]="cartaAnterior.image"
          alt="Carta anterior"
          class="carta-anterior"
        />
      </div>

      <div class="carta-actual">
        <img
          [src]="cartaActual.image"
          alt="Carta actual"
          class="carta-actual"
        />
      </div>
      ¿
    </div>
    <p>Carta actual: {{ cartaActual.value }} de {{ cartaActual.suit }}</p>
    <p>{{ mensajeResultado }}</p>
  </div>

  <!-- Mostrar los puntos actuales del jugador -->
  <div *ngIf="juegoIniciado">
    <p>Puntos: {{ puntos }}</p>
  </div>

  <!-- Botones Alto, Igual, Bajo -->
  <div *ngIf="juegoIniciado && cartaActual && cartasRestantes > 0">
    <button
      (click)="eleccionJugador('alto')"
      [disabled]="cargando || botonesDeshabilitados"
    >
      Alto
    </button>
    <button
      (click)="eleccionJugador('igual')"
      [disabled]="cargando || botonesDeshabilitados"
    >
      Igual
    </button>
    <button
      (click)="eleccionJugador('bajo')"
      [disabled]="cargando || botonesDeshabilitados"
    >
      Bajo
    </button>
  </div>

  <!-- Mensaje cuando no quedan más cartas -->
  <div *ngIf="juegoIniciado && cartasRestantes === 0">
    <p>¡El juego ha terminado, no quedan más cartas!</p>
    <button (click)="volverAlMenu()">Volver al menú</button>
  </div>
</div>
